// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    mod-key "Alt"
    mod-key-nested "Super"
    keyboard {
        xkb {
            layout "us" // Use the American keyboard layout
	    options "caps:swapescape"
        }
        numlock // Enable numlock on startup
    }

    touchpad {
	dwt
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
	accel-profile "flat"
	accel-speed 0.2
	scroll-factor 0.4
    }

    focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
