// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    mod-key "Alt"
    mod-key-nested "Super"
    keyboard {
        xkb {
            layout "us" // Use the American keyboard layout
            options "caps:swapescape"
        }
        numlock // Enable numlock on startup
    }
    mouse {
        accel-profile "flat"
        accel-speed 0.2
        scroll-factor 1 
    }
    touchpad {
        dwt
        tap
        natural-scroll
        accel-profile "adaptive"    // Matches your mouse for 1:1 linear tracking
        accel-speed 0.3        // Matches your mouse sensitivity
        scroll-factor 0.4      // Returns scroll speed to standard 1:1 feel
    }
    focus-follows-mouse  
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
gestures {
    dnd-edge-view-scroll {
        trigger-width 100
        max-speed 3000
    }
    dnd-edge-workspace-switch {
        trigger-height 100
        max-speed 3000
    }
    hot-corners {
        off
    }
}
