layout {
  gaps 10 // Gap between windows
  center-focused-column "never" // Don’t auto-center focused column
  // always-center-single-column

  background-color "transparent" // <- needed for noctalia-shell to set wallpaper

  preset-column-widths {
    proportion 0.4
    proportion 0.6
    proportion 0.8
    }
  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    }
  default-column-width 

  focus-ring {
    width 2
    }
  tab-indicator {
    inactive-color "#000000"
    }
  struts {
    }
}
recent-windows {
    debounce-ms 750
    open-delay-ms 150
    highlight{
        corner-radius 5 
    }
    binds {
        Mod+R         { next-window     scope="output"; }
        Mod+Shift+R   { previous-window scope="output"; }
        Mod+Tab       { next-window     scope="output" filter="app-id"; }
        Mod+Shift+Tab { previous-window scope="output" filter="app-id"; }
    }
}
