    prefer-no-csd
    screenshot-path "~/Pictures/screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png" 

    environment {
	XDG_CURRENT_DESKTOP "niri"
    	XDG_SESSION_TYPE "wayland"
    	DISPLAY ":0"
    	// Toolkit Support
    	QT_QPA_PLATFORM "wayland;xcb"
    	QT_QPA_PLATFORMTHEME "qt6ct"
    	SDL_VIDEODRIVER "wayland"
    	ELECTRON_OZONE_PLATFORM_HINT "auto"
    	_JAVA_AWT_WM_NONREPARENTING "1"
    	// Compatibility tweaks
    	NVD_BACKEND "direct"
    	WLR_NO_HARDWARE_CURSORS "1"
    	}

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
	emulate-zero-presentation-time
	disable-cursor-plane
	render-drm-device "/dev/dri/renderD128"
    }

    hotkey-overlay {
       skip-at-startup
    }
