    prefer-no-csd
    screenshot-path "~/Pictures/screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png" 

    environment {
        DISPLAY ":0"
        ELECTRON_OZONE_PLATFORM_HINT "wayland"
        XDG_CURRENT_DESKTOP "niri"
        QT_QPA_PLATFORMTHEME "qt5ct"
	_JAVA_AWT_WM_NONREPARENTING "1"
	XDG_SESSION_TYPE "wayland"
    	NVD_BACKEND "direct"
    	QT_QPA_PLATFORM "wayland"
    	SDL_VIDEODRIVER "wayland"
    	ELECTRON_OZONE_PLATFORM_HINT "auto"
    	__GLX_VENDOR_LIBRARY_NAME "nvidia"
    	GBM_BACKEND "nvidia-drm"
    	LIBVA_DRIVER_NAME "nvidia"
    	__GL_GSYNC_ALLOWED "0" // Often helps with flickering
    	__GL_VRR_ALLOWED "0"
    	WLR_NO_HARDWARE_CURSORS "1"
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
	emulate-zero-presentation-time
	disable-cursor-plane
	render-drm-device "/dev/dri/renderD129"
    }

    hotkey-overlay {
       skip-at-startup
    }
