window-rule {
  geometry-corner-radius 10 // Set every window radius to 20
  clip-to-geometry true
  open-maximized-to-edges false
}

window-rule {
  match app-id="^org.gnome.Calculator$"
  match title="^Picture-in-Picture$"
  open-floating true
}
window-rule {
  match title="^Picture-in-Picture$"
  open-floating true
  default-floating-position x=16 y=48 relative-to="bottom-left"
}
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}
