blur {
  passes 2        // more passes = stronger blur (default: 3)
  offset 3.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.0  // color saturation boost (default: 1.5)
}

window-rule {
    geometry-corner-radius 5 
    clip-to-geometry true
    background-effect {
        blur true
        xray false
    }
    draw-border-with-background false
}
// Noctalia Rules
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
}
layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|osd)$"
  background-effect {
    xray false
    //blur false
  }
}
layer-rule {
    match namespace="^noctalia-notification$"
    block-out-from "screencast"
}
// Application Rules
window-rule {
   match app-id="^helium$"
   match app-id="^io.ente.auth$"
   match app-id="^Bitwarden$"
   block-out-from "screencast"
}
window-rule {
    match app-id="^org.gnome.Calculator$"
    open-floating true
}
window-rule {
    match app-id="^owte$"
    focus-ring{
        off
    }
    background-effect {
        blur false
    }
}
window-rule {
    match title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=16 y=48 relative-to="bottom-left"
}

