* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #555869;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #D18572;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b; 
    border-radius: 10px;
}

#cpu,
#temperature,
#memory
#window,
#clock,
#battery,
#custom-fan,
#tskbar,
#stats,
#light,
#audio,
#custom-logout,
#backlight-slider,
#pulseaudio,
#pulseaudio-slider,
#tray{
    padding: 0px 7px;
    margin: 3px 0px 3px 0px;
  /*  margin-top: 5px; */
   /* border: 1px solid #181825; */
}

#tskbar{
    background: #1e1e1e;
	border-radius: 10px;
        padding: 0px 5px;
        margin-left: 10px;
}

#window {
    border-radius: 10px;
    min-width: 0px;
}

#clock {
    background: #5F81A9;
    color: #1e1e2e;
    margin-left: 3px;
    border-radius: 10px;
}

#stats {
    background-color: #709775;
    color: #1e1e2e;
    margin-left: 10px;
    border-radius: 10px;
}
#temperature.critical {
    color: #f38ba8;
}
#temperature.warning {
    color: #fab387;
}
#light {
    color:#1e1e2e;
    background:#89b4fa;
    margin-left: 10px;
    border-radius: 10px;
}
#extras {
    color:#1e1e2e;
    background: #b67b69;
    margin: 3px 0;
    border-radius: 10px;
}
#audio {
    color:#1e1e2e;
    background: #91BBB8;
    margin-left: 10px;
    border-radius: 10px;
}

#custom-logout{
    color:#1e1e2e;
    background: #bb91b5;
    padding-right: 13px;
    border-radius: 10px;
    margin: 3px 3px 3px 10px;
}
slider {
    min-height: 0px;
    min-width: 0px;
    border-radius: 50%;
    opacity: 0;
    border: 2px solid #1e1e1e;
    background-image: none;
    box-shadow: none;
}
trough {
    min-height: 10px;
    min-width: 80px;
    border: 2px solid #1e1e1e;
    background: #a6adc8;
    border-radius: 5px;
}
highlight {
    min-width: 10px;
    border-radius: 5px;
    background: #D18572;
}

#tray {
    background: #1e1e2e;
    border-radius: 10px;
    margin-right: 10px;
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0em;
    transition: all 0.3s ease;
}

#taskbar button.active {
    background: #9393b8;
    border-radius: 10px;
    margin-left: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-right: 0.3em;
    transition: all 0.3s ease;
}
