@import "colors.css";
* {
    font-family: "FiraCode Nerd Font Propo","JetBrainsMono NFP";
    /*font-family: "JetBrainsMono Nerd Font";*/
    font-weight: bold;
    font-size: 15px;
    color: @primary;
}

window#waybar {
    /*background: @blur_background;*/
    background: transparent;
}

#top {
	background: @background;
	border-radius:10px 0px 0px 55px;
	padding-bottom:10px;
}

#mpris{
	background: @background;
	padding: 20px 0px;
	border-radius:35px 0px 0px 35px;
}

#bottom {
	background: @background;
	border-radius:55px 0px 0px 10px;
	padding-top:10px;
}

tooltip{
    background: #1D2021;
    color: #FBF1C7;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #101a24;


}

#workspaces {
    font-weight: normal;
    color: #2F302D;
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s ease;
}

#workspaces button {
    font-weight: normal;
    background: rgba(23, 23, 23, 0.0);
    color: #B1B2BD;
    box-shadow: none;
    text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 0px;
    padding-right: 4px;
    margin-right: -4px;
    margin-top: -10px;
    animation: ws_normal 20s ease-in-out 1;
}



#workspaces button.active {
    font-weight: normal;
    transition: all 0.3s ease;
    padding-left: 0px;
    padding-right: 4px;
    transition: all 0.4s cubic-bezier(.55, 0.68, .48, 1.682);
}

#workspaces button:hover {
    background: none;
    color: #7DAEA3;
    font-weight: normal;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    color: #FBF1C7;
}

#tray menu separator {
    min-height: 10px;
}


#custom-spacer {
    opacity: 0.0;
    padding-top: 3px;
}

#custom-smallspacer {
    opacity: 0.0;
    padding: 0px;
    margin: 0px;
}

#backlight {
    background: rgba(23, 23, 23, 0.0);
    font-weight: normal;
    font-size: 19px;

}

#bluetooth,
#battery {
    font-weight: normal;
    font-size: 19px;
    background: rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 0px 0px;
    padding-top: 0px;
}

#clock {
    font-weight: 900;
    font-family: "CaskaydiaCove Nerd Font Mono";
    /* font-family: "JetBrains Mono Nerd Font";*/
    background: rgba(23, 23, 23, 0.0);
    opacity: 1;
    border: none;

}

#custom-fan {
    font-weight: normal;
    font-size: 18px;
}

#pulseaudio {
    font-weight: normal;
    background: rgba(22, 19, 32, 0.0);
}

#cpu, #memory{
    font-weight: normal;
    font-size: 22px;
    margin-top: 4px;
}

#power-profiles-daemon{
    font-weight: normal;
    font-size: 16px;
    margin-top: 4px;
}

@keyframes blink {
    to {
        color: #262827;

    }
}

#network,
#bluetooth {
    font-weight: normal;
    font-size: 19px;
    padding: 0px;
    margin: 0px;
}

#custom-menu{
    margin-top: 10px;
}

#custom-menu,
#custom-arch {
    font-weight: normal;
    font-size: 19px;
}

#custom-notification {
    font-size: 19px;
    background: rgba(23, 23, 23, 0.0);
}

#tray {
    padding: 0px;
}

#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#custom-box {
    /*margin: 8px 3px 3px 8px;*/
    margin: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#custom-rr_end {
    font-weight: normal;
    background: rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding-left: 4px;
    padding-right: 4px;
    ;

}

#backlight-slider slider,
#pulseaudio-slider slider {
    background: @primary;
    box-shadow: none;
    min-width: 1px;
    min-height: 1px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 9px;
    min-height: 90px;
    margin-bottom: -4px;
    border-radius: 8px;
    background: #343434;
    margin-left: -4px;
    margin-right: -4px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: #2096C0;
}


#battery.critical:not(.charging) {
    color: red;
}

#taskbar {
    padding: 0px;
}

/* Style for launchers */

#custom-expand {
    min-width: 25px;
    font-size: 16px;
}

#group-minimized {
    border-left: solid;
    border-left-width: 0.5;
}
