@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font Propo","JetBrainsMono NFP";
    font-weight: 600;
    font-size: 12px;
    min-height: 0;
}

/* Base Bar */
window#waybar {
    background: transparent;
    color: @on_surface;
}

/* Workspaces */
#workspaces button {
    padding: 0px 2px;
    margin: 2px 1px;
    color: @surface;
    font-size: 14px;
    font-weight: bolder;
}

#workspaces button.active,
#workspaces button.focused {
    color: @surface;
}

#workspaces button.urgent {
    color: @on_error_container;
}

/* General Module Styling */
#cpu,
#temperature,
#memory,
#clock,
#battery,
#network,
#light,
#audio,
#tray,
#stats,
#custom-arch,
#custom-fan,
#custom-music,
#custom-notification,
#backlight-slider,
#pulseaudio,
#pulseaudio-slider,
#workspaces,
#mpris,
#extras {
    color: @surface;
    border-radius: 6px;
    padding: 2px 4px;
    margin: 2px 2px;
}

/* Specific Modules */
#custom-arch {
    background: @primary_container;
    color: @on_primary_container;
}

#stats,
#clock,
#mpris,
#custom-notification,
#temperature,
#audio,
#light,
#custom-music,
#extras,
#workspaces {
    background-color: @primary;
    color: @surface;
}
#custom-notification, #custom-arch {
    font-size: 16px;
    min-width: 1rem;
}

/* Sliders */
slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
    border: 2px solid @primary;
    border-radius: 50%;
    background: @surface;
    box-shadow: none;
}

trough {
    min-height: 10px;
    min-width: 80px;
    border: 2px solid @outline_variant;
    background: @surface_container_high;
    border-radius: 5px;
}

highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @primary;
}

/* Tray */
#tray {
    background: @primary_container;
    border-radius: 6px;
    margin-right: 5px;
}


/* Extras & Taskbar compact */
#tskbar {
    padding: 0 3px;
    margin-left: 5px;
}

#extras {
    padding: 2px 4px;
    margin: 2px 2px;
}

