* {
    font-family: JetBrains Mono, Symbols Nerd Font;
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.7s;
}

window {
    background-color: rgba(128, 128, 128, 0.70); 
    /* border-radius: 10px; */
}

button {
    background-color: #11111b;
    border-style: solid;
    /* border-width: 2px; */
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:active,
button:hover {
    background-color: #cdd6f4;
}

button:focus {
    background-color: #cdd6f4;
}
#lock {
    background-image: image(url("/home/sumit/.config/wlogout/assets/lock.png"));
}
#lock:hover,
#lock:focus {
    background-image: image(url("/home/sumit/.config/wlogout/assets/lock-hover.png"));
    color: #11111b;
}

#logout {
    background-image: image(url("/home/sumit/.config/wlogout/assets/logout.png"));
}
#logout:hover,
#logout:focus {
    background-image: image(url("/home/sumit/.config/wlogout/assets/logout-hover.png"));
    color: #11111b;
}

#exit {
    background-image: image(url("/home/sumit/.config/wlogout/assets/logout.png"));
}
#exit:hover,
#exit:focus {
    background-image: image(url("/home/sumit/.config/wlogout/assets/logout-hover.png"));
    color: #11111b;
}

#suspend {
    background-image: image(url("/home/sumit/.config/wlogout/assets/sleep.png"));
}
#suspend:hover,
#suspend:focus {
    background-image: image(url("/home/sumit/.config/wlogout/assets/sleep-hover.png"));
    color: #11111b;
}

#shutdown {
    background-image: image(url("/home/sumit/.config/wlogout/assets/power.png"));
}
#shutdown:hover,
#shutdown:focus {
    background-image: image(url("/home/sumit/.config/wlogout/assets/power-hover.png"));
    color: #11111b;
}

#reboot {
    background-image: image(url("/home/sumit/.config/wlogout/assets/restart.png"));
}
#reboot:hover,
#reboot:focus {
    background-image: image(url("/home/sumit/.config/wlogout/assets/restart-hover.png"));
    color: #11111b;
}

